a.miclass{
    color:var(--mi-text-color);
}

p.miclass{
    color:var(--mi-icon-color);
 //   font-weight: bold;
}

ion-item {
    --ion-item-background: var(--mi-itemlist-bg-color) !important;    
}
