ion-header{
    --ion-background-color: rgb(73, 53, 27);
    --ion-text-color: rgb(233, 191, 136);
}

ion-icon{
    color: rgb(233, 191, 136);
}

.icon-menu{
    color: aqua;  
}

ion-menu-button{
color:aqua;

}
