ion-input.miclass {
    border: 1px solid var(--mi-icon-color);
    background: var(--mi-input-color);    
}

ion-chip.miclass{
    color: var(--mi-input-color); 
    background-color: var(--mi-text-color);
}